pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
*-init.clj

examples/*/main.js*
examples/*/out/
*.asc
*.iml
.idea
.lein-env
resources/public/js/lib
.lein-failures
.nrepl-port
.#*

.clj-kondo
.lsp
hs_err_pid*
replay_pid*
node_modules/
test-output/
.eastwood
