name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.4
        with:
          lein: 2.8.1

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: "12"

      - name: Get leiningen version
        run: lein -v

      - name: Run milia scripts
        run: |
          lein bikeshed
          lein cljfmt check
          lein eastwood
          lein kibit
          lein midje
          lein cljsbuild once dev
          lein cljsbuild once prod
          npm install -g karma-cli
          npm install karma --save-dev
          npm install karma-cljs-test --save-dev
          npm install karma-chrome-launcher --save-dev
          lein doo chrome-headless test once

